.app {

  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.app h1 {
  text-align: center;
  color: #333;
}

.show-details {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.show-details h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.show-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 20px;
}

.show-summary {
  font-size: 16px;
  line-height: 1.6;
}

.app {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-left: 130px;
}

.app h1 {
  color: #0e6787;
  margin-bottom: 20px;
}

.text {
  font-size: 16px;
  line-height: 1.5;
  color: #444;
  margin-bottom: 20px;
}

.show-more-button {
  padding: 10px 20px;
  background-color:dodgerblue;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.show-more-button:hover {
  background-color: #0056b3;
}
